/* ====================== Restaurant Details ====================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  font-family: Arial, Helvetica, sans-serif;
  margin: unset;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #005959;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  border: 5px dotted orange;
  max-width: 80%;
  border-radius: 25px 0 25px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#restaurant-address {
  font-size: 14pt;
  margin: 10px 0px;
  font-weight: 500;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container {
  padding: 10px 20px 30px;
}

#restaurant-container,
#reviews-container {
  width: 100%;
}

#reviews-container,
#favourite {
  padding: 30px 20px;
}

#reviews-container h3,
#new-review-container h3,
#favourite h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  padding-bottom: 2pt;
  text-transform: uppercase;
}

#favourite {
  background-color: #2f4f4f;
}

#favourite-button {
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  color: #000;
  background-color: #efefef;
}

#favourite-button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #d6d6d6;
  display: block;
  list-style-type: none;
  margin: 0 0 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 25px 0 25px 0;
}

#reviews-list li > div,
#reviews-list li > p {
  padding: 10px 25px;
  margin: 0;
}

#reviews-list li .name-date-wrapper {
  background-color: #333;
  overflow: hidden;
  padding: 30px;
}

.name-date-wrapper .name {
  float: left;
  font-size: 16pt;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.name-date-wrapper .date {
  float: right;
  font-size: 16pt;
  color: #fff;
  margin: 0;
}

#reviews-list li .rating {
  font-weight: bold;
  clear: both;
  display: inline-block;
  background-color: #005959;
  margin: 30px;
  padding: 10px;
  color: #fff;
  font-size: 14pt;
  border-radius: 5px;
}

#reviews-list li > p:nth-child(3) {
  font-weight: 900;
}

#reviews-list li .review-text {
  padding: 0 30px 30px;
  font-size: 14pt;
  color: #252831;
}

#restaurant-hours td {
  color: #000;
  padding-right: 15px;
}

#new-review-container {
  padding: 0px 20px 40px;
}

#review-form {
  padding-top: 1em;
}

#review-form label {
  color: #000;
  margin: 5px;
  font-family: arial;
  font-size: 1.1em;
  line-height: 2;
}

#review-form input[type="submit"] {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.8em;
  padding-left: 5em;
  padding-right: 5em;
  border-style: hidden;
  border-radius: 0.6em;
  font-size: 1em;
  background-color: white;
}

#review-form input[type="submit"]:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

#review-form input[type="textarea"],
input[type="text"] {
  padding: 10px;
  width: 75%;
}

#review-notice {
}

.review-notice-style {
  margin: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  color: #000000;
  background-color: #f58500;
  border-radius: 0.5em;
  font-size: 1.2em;
}

/* ========================= Restaurant Page Only ========================= */

.container-restaurant {
  display: grid;
  background-color: #d6d6d6;
}

.inside #maincontent {
  margin-top: 125px;
}
