@charset "utf-8";

/* ====================== Map ====================== */
#map {
  height: 30vh;
  width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #252831;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #d6d6d6;
  list-style: outside none none;
  margin: auto;
  padding-top: 15px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px;
  padding: 25px;
  text-align: left;
  max-width: 100%;
  border-radius: 25px 0 25px 0;
}

#restaurants-list .restaurant-img {
  display: block;
  margin: 1em;
  max-width: 100%;
  min-width: 100%;
  min-height: 40vh;
  max-height: 70vh;
  border-radius: 25px 0 25px 0;
  border: 5px dotted orange;
}

#restaurants-list li h3 {
  color: #005959;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 1em;
  font-size: 12pt;
}

#link-wrapper {
  background-color: transparent;
}

#view-details {
  color: #000;
  display: inline-block;
  margin: 1em;
  background-color: orange;
  font-size: 10pt;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* ========================= MEDIA QUERIES ========================= */
/* small device portrait*/
@media (max-width: 600px) {
  nav h1 a {
    font-size: 16pt;
  }

  #breadcrumb li,
  .name-date-wrapper .name,
  .name-date-wrapper .date,
  #reviews-list li .review-text {
    font-size: 12pt;
  }

  #map {
    height: 50vh;
    width: 100%;
    background-color: #000;
  }

  #restaurant-name,
  #reviews-container h2 {
    font-size: 14pt;
  }
}

/* small device landscape */
@media (min-width: 601px) and (max-width: 685px) {
  #restaurants-list li {
    position: relative;
    min-height: 400px;
  }

  #restaurants-list li a {
    bottom: 15px;
    left: 15px;
  }

  #restaurants-list li h3 {
    font-size: 12pt;
  }
}

/* medium device - portrait and landscape */
@media (min-width: 601px) and (max-width: 1023px) {
  .list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #restaurant-container,
  #reviews-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* large device */
@media (min-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  td {
    font-size: 1.4em;
  }

  .list-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);

    li {
      margin: 15px;
      padding: 10px;
    }
  }

  #restaurant-list .inside #maincontent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "restaurant map" "reviews map";
  }

  .inside #map {
    height: 100%;
    width: 100%;
  }

  .inside #map-container {
    grid-area: map;
    width: 100%;
  }

  #restaurant-container {
    grid-area: restaurant;
  }

  #reviews-container {
    grid-area: reviews;
    max-width: 98%;
  }
}
